:root {
    --purple: #e57dff;
    --blue: #7d26ff;
    --red: #ff5c5c;
    --green: #37d67a;
  }
  
  #background {
    padding: 5rem;
    /*  background-image: linear-gradient(to top left, var(--purple), var(--blue)); */
    background-image: url("https://images.unsplash.com/photo-1693838974932-aa2bb01fc25a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1335&q=80");
    background-size: 110%;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: alternate;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    position: fixed;
  }
  
  #container {
    display: none;
    position: relative;
    min-height: 350px;
    min-width: 350px;
    border-radius: 15px;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
  }
  
  #startpage {
    display: block;
    position: relative;
    min-height: 350px;
    min-width: 350px;
    border-radius: 15px;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
  }
  
  #buttons {
    bottom: 0;
  }
  
  #header {
    color: white;
    font-family: Inconsolata;
    font-size: 75px;
  }
  
  .input {
    border-radius: 25px;
    border-bottom: none;
    /* border-bottom: 3px white solid; */
    border-left: none;
    border-right: none;
    border-top: none;
    box-sizing: border-box;
    color: white;
    background-color: #e0e0e0;
    font-size: 15px;
    width: 95%;
    padding: 15px;
    outline: none;
    /*  background-color: rgba(255, 255, 255, 0.15); */
    backdrop-filter: blur(10px);
    background: none;
  }
  
  .btn {
    background-color: rgba(255, 255, 255, 0);
    font-size: 15px;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
  }
  
  #status {
    font-size: 15px;
    font-family: Inconsolata;
    padding: 1em;
  }
  
  .enterbtn {
    transition: 1s ease-in-out;
    background-color: var(--blue);
    font-family: Inconsolata;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin: 2px;
    color: white;
    cursor: pointer;
    width: 65%;
  }
  
  @keyframes wiggle {
    0% {
      transform: translate(0px);
    }
    25% {
      transform: translate(10px);
    }
    60% {
      transform: translate(-10px);
    }
    100% {
      transform: translate(0px);
    }
  }
  
  ::placeholder {
    color: whitesmoke;
  }
  
  #page {
    padding: 2em;
    position: absolute;
    min-width: 350px;
    min-height: 350px;
    display: none;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.4);
    border-style: solid;
  }
  
  #pagetitle {
    font-family: Inconsolata;
    font-size: 70px;
    color: rgb(247, 247, 247);
  }
  
  #pagetxt {
    font-family: Inconsolata;
    font-size: 45px;
    color: white;
  }
  
  #pagebody {
    font-family: Inconsolata;
    font-size: 20px;
    color: whitesmoke;
  }
  
  #bckbtn {
    color: white;
    font-family: Material Icons;
    font-size: 20px;
    background: none;
    border-style: none;
    cursor: pointer;
    animation: point 1s infinite ease-in-out;
    transition: 0.5s ease-in-out;
  }
  
  #bckbtn:hover {
    color: var(--blue);
  }
  
  @keyframes point {
    0% {
      transform: translate(-5px);
    }
    50% {
      transform: translate(-15px);
    }
    100% {
      transform: translate(-5px);
    }
  }
  
  @keyframes slideout {
    to {
      transform: translatey(100%);
      opacity: 0;
    }
  }
  
  .enterbtn:hover {
    box-shadow: 0px 0px 0px 3px var(--blue);
  }
  